body {
    font-family: 'Montserrat', sans-serif!important;
}

.carousel.slide {
    margin-top: -19px;
    margin-bottom: 20px;
}

.carousel-caption {
    h3 {
        font-family: "Homemade Apple", cursive;
        font-size: 40px;
        text-shadow: black 2px 3px 3px;
    }
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    width: 4rem!important;
    height: 4rem!important;
    opacity: 0.5!important;
}

.btn-primary {
    background-color: #8e210b!important;
    color: white;
    font-weight: bold!important;
    border: none!important;
    padding: 8px 25px!important;
    margin: auto!important;
}

.paginatore {
    clear: both;
    display: flex;
    justify-content: center!important;
}